In [ ]:
    #iterative  For while
    
    #jump statements  break continue pass return 
    
#Python data structure : list , tuples , strings , dict , sets

In [ ]:
#Data structure or sequence

#list : It is a collection of hetrogenous values

In [1]:
details=['Yash',33,'India',8979,6.1,'en@gmail.com',True]

In [2]:
type(details)

list

In [3]:
details[0]

'Yash'

In [4]:
len(details)

7

In [5]:
numbers=[3,2,6,5,8,7]

In [10]:
#for loop 
#WAP to print "Even" or "ODd" against every number from a list 

for i in numbers:
    if i %2==0:
        print (i,"Even")
    else:
        print (i, "Odd")

3 Odd
2 Even
6 Even
5 Odd
8 Even
7 Odd

In [18]:
squares=[]  # squares=list()
for each in numbers:
    squares.appxend(each**2)

In [19]:
squares

[9, 4, 36, 25, 64, 49]

In [ ]:
#numbers=[3,2,6,5,8,7]

#squares=[9,4,36,25,64,49]

In [13]:
a=[]

In [14]:
a.append(33)

In [15]:
a

[33]

In [16]:
a.append(44)

In [17]:
a

[33, 44]

In [20]:
numbers

[3, 2, 6, 5, 8, 7]

In [21]:
numbers[0]

3

In [22]:
numbers[1]

2

In [23]:
details

['Yash', 33, 'India', 8979, 6.1, 'en@gmail.com', True]

In [25]:
for each in details:
    if type(each)!=str:
        
        print (each)

33
8979
6.1
True

In [26]:
#Enter 5 numbers and store them in a list 
num=[]
for each in [1,2,3,4,5]:  #range()
    inp=int(input("Enter a number: "))
    num.append(inp)

Enter a number: 23
Enter a number: 34
Enter a number: 45
Enter a number: 67
Enter a number: 89

In [30]:
#Enter 5 numbers and store them in a list 
num=[]
for each in range(5):  #range()
    inp=int(input("Enter a number: "))
    num.append(inp)

Enter a number: 34
Enter a number: 34
Enter a number: 56
Enter a number: 23
Enter a number: 67

In [31]:
num

[34, 34, 56, 23, 67]

In [ ]:
#while 

#Syntax

initilization

while (condition):
    #statement1
    #statement2
    
    updation

In [35]:
num=[]
i=105
while i>=100:
    inp=int(input("Enter a number: "))
    num.append(inp)
    i-=1

Enter a number: 4
Enter a number: 4
Enter a number: 4
Enter a number: 4
Enter a number: 4
Enter a number: 4

In [33]:
num

[34, 56, 43, 76, 89]

In [ ]:
i=0

i<5

1 2 3 4 5 

0 1 2 3 4

In [44]:
#WAP to enter grocery items , append them in a list and exit the loop if the user enters "quit".

grocery_list=[]
inp=input("Enter an item ")

while inp!="quit":
    
    grocery_list.append(inp)
    
    inp=input("Enter an item ")

Enter an item quit

In [45]:
grocery_list

[]

In [40]:
grocery = []
inp = ''
while(inp!='quit'):
    inp = (input("enter the item:"))
    grocery.append(inp)

enter the item:bread
enter the item:milk
enter the item:quit

In [46]:
grocery.pop()

'quit'

In [47]:
grocery

['bread', 'milk']

In [ ]:
#Jump statements

break
continue 
pass

In [49]:
for each in [1,2,3,4,5,6,7]:
    if each==4:
        break
    print (each)

1
2
3

In [50]:
for each in [1,2,3,4,5,6,7]:
    if each==4:
        continue
    print (each)

1
2
3
5
6
7

In [53]:
for each in [1,2,3,4,5,6,7]:
    if each%2==0:
        pass

In [54]:
i=1
while i<=10:
    pass  #Add code here by removing pass 
    i+=1

In [56]:
for i in [1,2,3]:
    for j in [9,8,7]:
        if j==8:
            break
        print (i,j)

1 9
2 9
3 9

In [59]:
for i in [1,2,3]:
    if i==2:
        break
    for j in [9,8,7]:
        print (i,j)

1 9
1 8
1 7

In [61]:
grocery_list=[]
inp=input("Enter an item ").upper()
while (inp!="QUIT"):
    grocery_list.append(inp)
    inp=input("Enter an item ").upper()

Enter an item bread
Enter an item quit

In [62]:
grocery_list

['BREAD']

In [ ]:
# Approach 1
item = (input("Enter item: ")).upper()
my_list = []
while item != "QUIT":
    my_list.append(item)
    item = (input("Enter item: ")).upper()

# Approach 2
item = ""
my_list = []
while item != "QUIT"
    item = (input("Enter item: ")).upper()
    my_list.append(item)
    
my_list.pop()

# Module 2 : Sequences and File Operations

In [ ]:
#Sequences 

#Data Structures 

list 
tuple
str
set
dict

# List

a collection of hetrogenous values

In [ ]:
#Esc+1-6 ( for headings)
#markdown for text 

# . +Tab ( to see all possible set of operations )

#Shift+Tab to know the function signature/documentation

In [63]:
details

['Yash', 33, 'India', 8979, 6.1, 'en@gmail.com', True]

In [64]:
numbers

[3, 2, 6, 5, 8, 7]

In [65]:
details.append("Berlin")

In [66]:
details

['Yash', 33, 'India', 8979, 6.1, 'en@gmail.com', True, 'Berlin']

In [69]:
details.index('Berlin') #returns the index of an element in a list

7

In [70]:
details.insert(1,'Saxena')  #inserts the element at a particular index

In [71]:
details

['Yash', 'Saxena', 33, 'India', 8979, 6.1, 'en@gmail.com', True, 'Berlin']

In [ ]:
#Add an element 

#at the last : append
#at a particular location : insert 


#Remove an element 

#index wise 

    #at the last : pop()
    #at a particular location : pop(index) 

#element wise : remove()

In [73]:
details.pop()

'Berlin'

In [74]:
details

['Yash', 'Saxena', 33, 'India', 8979, 6.1, 'en@gmail.com', True]

In [75]:
details.pop(1)

'Saxena'

In [76]:
details

['Yash', 33, 'India', 8979, 6.1, 'en@gmail.com', True]

In [77]:
details.remove("India")

In [78]:
details

['Yash', 33, 8979, 6.1, 'en@gmail.com', True]

In [82]:
details.reverse()

In [83]:
details.

['Yash', 33, 8979, 6.1, 'en@gmail.com', True]

In [84]:
numbers

[3, 2, 6, 5, 8, 7]

In [85]:
elements_to_remove=[3,6]

In [87]:
for each in elements_to_remove:
    numbers.remove(each)

In [88]:
numbers

[2, 5, 8, 7]

In [89]:
other_numbers=[3,4,5,6,3,4,6,8,9,1,2,3]

In [90]:
numbers.extend(other_numbers)

In [91]:
numbers

[2, 5, 8, 7, 3, 4, 5, 6, 3, 4, 6, 8, 9, 1, 2, 3]

In [94]:
numbers.sort(reverse=True)

In [97]:
numbers.count(3)

3

In [98]:
numbers.count(1)

1

In [99]:
numbers.count(9)

1

In [100]:
numbers.count(5)

2

In [101]:
numbers

[9, 8, 8, 7, 6, 6, 5, 5, 4, 4, 3, 3, 3, 2, 2, 1]

In [102]:
details

['Yash', 33, 8979, 6.1, 'en@gmail.com', True]

In [103]:
details.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [104]:
len(details)

6

In [105]:
numbers

[9, 8, 8, 7, 6, 6, 5, 5, 4, 4, 3, 3, 3, 2, 2, 1]

In [106]:
numbers.remove(3)

In [107]:
numbers

[9, 8, 8, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2, 1]

In [109]:
for each in range(numbers.count(5)):
    numbers.remove(5)

In [110]:
numbers

[9, 8, 8, 7, 6, 6, 4, 4, 3, 3, 2, 2, 1]

In [111]:
numbers.count(6)

2

In [112]:
len(numbers)

13

In [113]:
random=[1,4,5,6,3,2,8,9,0]

In [114]:
random.sort()

In [115]:
random

[0, 1, 2, 3, 4, 5, 6, 8, 9]

In [116]:
random.sort(reverse=True)

In [118]:
random.clear()

In [119]:
random

[]

In [120]:
details=["yu",56,'india','[]']

for every in details :
    if type(every)==int:
        print(every)

56

In [122]:
numbers=[1,3,5,6,4,2]
squares=[]  # squares=list()
for each in numbers:
    squares.append(each**2)

In [123]:
squares

[1, 9, 25, 36, 16, 4]

In [124]:
sq=[each**2 for each in numbers] #List comprehension

In [125]:
sq

[1, 9, 25, 36, 16, 4]

In [126]:
#Repetition

In [128]:
numbers*2

[1, 3, 5, 6, 4, 2, 1, 3, 5, 6, 4, 2]

In [130]:
#indexing 0 based 

#mutable
details=['Yash', 33, 8979, 6.1, 'en@gmail.com', True]

In [133]:
details[1]=34

In [135]:
details[4]="abc@gmail.com"

In [136]:
details

['Yash', 34, 8979, 6.1, 'abc@gmail.com', True]

In [137]:
#slicing

In [143]:
details[1:6]

[34, 8979, 6.1, 'abc@gmail.com', True]

In [146]:
temp=details

In [147]:
temp

['Yash', 34, 8979, 6.1, 'abc@gmail.com', True]