In [99]:
print ('Hello World')

Hello World

In [100]:
#Data types are inferred automatically in python 
a="Yash"

In [101]:
type(a)

str

In [5]:
a=10

In [6]:
type(a)

int

In [7]:
a=45.3
type(a)

float

In [8]:
a=True
type(a)

bool

In [9]:
a="Y"

In [10]:
type(a)

str

In [14]:
#Comments : Non executable statements

In [15]:
#Variables : are the names given to different parts of the program

#Rule

In [23]:
#Rule1: Only alphabets ( A-Z and a-z ) , digits (0-9 ) and underscore (_) can be used to name a variable

a1=10

r_2=20

_=12

In [21]:
#Rule2 : Variable name cannot start with a digit 

1n=10
2n=20

SyntaxError: invalid syntax (<ipython-input-21-e2ff767ab79f>, line 3)

In [22]:
n1=10
n2=20

In [24]:
#rule 3: Variable names are case sensitive 

a=10
A=100

In [25]:
a

10

In [26]:
A

100

In [28]:
#Operations 

a=10
b=20
c=a+b
print (c)

30

In [ ]:
#Arithmetic operators

+ - * / // **

In [29]:
10/2

5.0

In [30]:
4*3

12

In [40]:
s1='Hello '
s2="Python"

In [41]:
s1+s2

'Hello Python'

In [ ]:
True 

False

#Conditional Statements 

if \
if else

In [33]:
10//2

5

In [34]:
34/2

17.0

In [35]:
34//2

17

In [36]:
45/2

22.5

In [37]:
45//2

22

In [ ]:
# Datatypes inferred auto

#Variables

#Rules for naming 

#Operators 

#Read input from user 

#Statements 

    #conditional 
    
    #iterative
    
    #jump statements 
    
#Python data structure : list

In [46]:
a=10
b=20
c=a+b

In [47]:
c

30

In [48]:
3**2

9

In [50]:
4**5

1024

In [ ]:
% #return remainder

In [51]:
45/3

15.0

In [52]:
45%3

0

In [53]:
23%7

2

In [ ]:
+ - * / // % **

In [ ]:
# Assignment  Operator

In [54]:
a=10

In [56]:
a+=1 # a=a+1

In [57]:
a

11

In [58]:
a=50

a*=2

In [59]:
a

100

In [71]:
#Relation operators : response is always boolean True or False

a=10
b=30

a>b

False

In [72]:
a<b

True

In [73]:
a==b

False

In [74]:
a>=b

False

In [75]:
a<=b

True

In [76]:
a!=b

True

In [77]:
a=10

In [78]:
a+=1

In [79]:
a

11

In [80]:
a=100 #Assignment

In [81]:
a==b #Relations

False

In [ ]:
#Logical Operators

and or not

#Membership Testing
in 
not in

In [84]:
44 in [1,2,3,4]

False

In [85]:
#Input from user 


a=input("Enter a name ")
b=input("Enter another name ")
c=a+b
print (c)

Enter a name hello
Enter another name python
hello python

In [86]:
a

'hello '

In [87]:
b

'python'

In [102]:
#Inputting from user and doing sum 

a= int  (input("Enter a number ")  ) #type casting 
b=float (input("Enter another number "))
c=a+b
print (c)

Enter a number 10
Enter another number 2
12.0

In [95]:
a

11.1

In [96]:
b

22.2

In [103]:
#Execute a cell : Shift+Enter

#Create a cell below : Esc+B

#Create a cell above : Esc+A

In [ ]:
#Statements 

    #conditional  : 
                        if
                        if else 
                        if elif else 
                
    
    #iterative  For while 
    
    #jump statements

In [113]:
#Wap to enter a number from user and check if it is even  
 
number=int(input("Enter a number : "))
if number%2==0:
    print ("Yes this number is even. ")
    print ("Even number ")

Enter a number : 22
Yes this number is even.
Even number

In [ ]:
#Indentation : giving 4 spaces to represent block of code

In [117]:
#Wap to enter a number from user and check if it is even  or odd 
number=int(input("Enter a number : "))

if number%2==0:
    print ("Even number ")
else:
    print ("Odd number ")

Enter a number : 3
Odd number

In [ ]:
#WAP to input age of a person and if the age is greater than or equal to 18 then say the person is \
# "Eligible to vote" else print "Not eligible to vote "

In [121]:
age=int(input("Enter a number : "))

if age>=18:
    print ("Eligible to vote  ")
else:
    print ("Not eligible to vote ")

Enter a number : 2
Not eligible to vote

In [135]:
#WAP to enter a code from user and do the following 

#Y y yellow 
#W w white 
#B b black 

code=input("Enter a code : ")

if code=="Y" or code=="y":
    print ("Yellow")
    
elif code=="B" or code=="b":
    print ("Black")
    
elif code=="W" or code=="w":
    print ("White")
else:
    print ("Wrong choice entered ")

Enter a code : y
Yellow