Assignment Question

Enter two numbers from the user and between those two numbers, print all the numbers which are prime.

n1=11
n2=30
11 , 13 , 17 , 19 , 23 , 29

In [12]:
n1=int(input("Enter lower limit : "))
n2=int(input("Enter upper limit : "))

Enter lower limit : 11
Enter upper limit : 30

In [8]:
while n1<=n2:
    divisior=2
    flag=0
    #print (n1)
    while divisior<=n1-1:
        if n1%divisior==0:
            flag=1
            break
        divisior+=1
    if flag==0:
        print(n1,"is prime.")
    n1+=1

11 is prime.
13 is prime.
17 is prime.
19 is prime.
23 is prime.
29 is prime.

In [15]:
for num in list(range(n1,n2+1)):
    count=0
    for each in range(1,num+1):
        if num%each==0:
            count+=1
    if count==2:

        print (num,"is prime.")

11 is prime.
13 is prime.
17 is prime.
19 is prime.
23 is prime.
29 is prime.

In [16]:
#Tuples 

#data structure for storing hetrogenous values 

details=('Yash','Saxena',6.1,33,8979,True)

In [17]:
type(details)

tuple

In [18]:
details_list=['Yash','Saxena',6.1,33,8979,True]

In [21]:
details_list[3]=34

In [22]:
details_list

['Yash', 'Saxena', 6.1, 34, 8979, True]

In [24]:
details[3]=34

TypeError: 'tuple' object does not support item assignment

In [ ]:
#immutable

In [25]:
details*2 #Repitition

('Yash', 'Saxena', 6.1, 33, 8979, True, 'Yash', 'Saxena', 6.1, 33, 8979, True)

In [27]:
details[0:3] #Slicing

('Yash', 'Saxena', 6.1)

In [28]:
details[0]

'Yash'

In [29]:
details[1]

'Saxena'

In [ ]:
#INDEXING

In [ ]:
#Advantages 

#faster in execution 
zip , enumerate

In [36]:
temp=list(details)

In [38]:
temp[3]=34

In [39]:
details=tuple(temp)

In [40]:
details

('Yash', 'Saxena', 6.1, 34, 8979, True)

In [43]:
details.count(34)

1

In [44]:
details.index(6.1)

2

In [47]:
details_tuple=tuple(details_list)

In [48]:
details_tuple

('Yash', 'Saxena', 6.1, 34, 8979, True)

In [49]:
#Dictionary : collection of key value pairs

In [58]:
details={'Fname':'Yash',
        'Lname':"Saxena",
        'Height':6.1,
        'Age':33,
        'Mob':8979,
        }

In [53]:
details['Fname']

'Yash'

In [55]:
details['Age']=34  #mutable

In [56]:
details

{'Fname': 'Yash', 'Lname': 'Saxena', 'Height': 6.1, 'Age': 34, 'Mob': 8979}

In [59]:
details

{'Fname': 'Yash', 'Lname': 'Saxena', 'Height': 6.1, 'Age': 33, 'Mob': 9634}

In [ ]:
#No repetition 
#No 0 based indexing 
#No slicing

In [63]:
details={'Fname':['Yash','Sam','Saif',],
        'Lname':["Saxena","Malik",'Khan'],
        'Height':[6.1,5.7,5.6],
        'Age':[33,32,34],
        'Mob':[8979,9997,9643]
         
         
        }

In [68]:
fname="Ashwini"
lname="Guler"
h=5.9
age=30
mob=1234

In [69]:
details['Fname'].append(fname)

In [71]:
details['Lname'].append(lname)
details['Age'].append(age)
details['Height'].append(h)
details['Mob'].append(mob)

In [72]:
details

{'Fname': ['Yash', 'Sam', 'Saif', 'Ashwini'],
 'Lname': ['Saxena', 'Malik', 'Khan', 'Guler'],
 'Height': [6.1, 5.7, 5.6, 5.9],
 'Age': [33, 32, 34, 30],
 'Mob': [8979, 9997, 9643, 1234]}

In [73]:
import pandas as pd

In [75]:
df=pd.DataFrame(details)

In [91]:
df

     Fname   Lname  Height  Age   Mob
0     Yash  Saxena     6.1   33  8979
1      Sam   Malik     5.7   32  9997
2     Saif    Khan     5.6   34  9643
3  Ashwini   Guler     5.9   30  1234

In [77]:
df.to_csv('DetailsOfEmployees.',index=False)

In [ ]:
#list tuples dict
[]    ()      {}

In [78]:
#Set

s1={1,2,3,4,5,'a','b','c'}
s2={4,5,6,7,8,9}

In [79]:
s1

{1, 2, 3, 4, 5, 'a', 'b', 'c'}

In [80]:
s2

{4, 5, 6, 7, 8, 9}

In [81]:
set1={3,5,7,2,1,1,1,3,4,5,6,3,4}
set2={4,5,6,7,1,2,3,9,1,1,9,9}

In [82]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [83]:
set2

{1, 2, 3, 4, 5, 6, 7, 9}

In [85]:
s1.intersection(s2)

{4, 5}

In [86]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c'}

In [89]:
s1.difference(s2) # s1-s2

{1, 2, 3, 'a', 'b', 'c'}

In [90]:
s2.difference(s1)

{6, 7, 8, 9}

In [93]:
df['City']=['Mumbai','Delhi','Mumbai','Delhi']

In [96]:
cities=list(df['City'])

In [97]:
cities

['Mumbai', 'Delhi', 'Mumbai', 'Delhi']

In [98]:
set(cities)

{'Delhi', 'Mumbai'}

In [100]:
df['Salary']=[100,200,300,400]
df['PrevSalary']=[80,192,276,345]

In [102]:
df['Diff']=df['Salary']-df['PrevSalary']

In [103]:
df

     Fname   Lname  Height  Age   Mob    City  Salary  PrevSalary  Diff
0     Yash  Saxena     6.1   33  8979  Mumbai     100          80    20
1      Sam   Malik     5.7   32  9997   Delhi     200         192     8
2     Saif    Khan     5.6   34  9643  Mumbai     300         276    24
3  Ashwini   Guler     5.9   30  1234   Delhi     400         345    55

In [106]:

#SET


#no Indexing 

#No slicing 

#no repetition

In [108]:
details.keys()

dict_keys(['Fname', 'Lname', 'Height', 'Age', 'Mob'])

In [109]:
details.values()

dict_values([['Yash', 'Sam', 'Saif', 'Ashwini'], ['Saxena', 'Malik', 'Khan', 'Guler'], [6.1, 5.7, 5.6, 5.9], [33, 32, 34, 30], [8979, 9997, 9643, 1234]])

In [ ]:
# json #Javascript object notation

In [110]:
#Strings  : can contain any alphabets, digits and special symbols 

s1='Hey, how are you ?'

s2="I am fine , thank you :) "

s3=''' See you soon !!! '''

In [111]:
type(s1)

str

In [112]:
type(s2)

str

In [113]:
type(s3)

str

In [114]:
s1

'Hey, how are you ?'

In [115]:
s2

'I am fine , thank you :) '

In [116]:
s3

' See you soon !!! '

In [117]:
sample1="Hello"

In [119]:
sample1*2  #Repetition

'HelloHello'

In [126]:
sample1[4]  #indexing

'o'

In [128]:
sample1[0:3]  #Slicing

'Hel'

In [131]:
sample1[1]='i'  #immutable

TypeError: 'str' object does not support item assignment

In [ ]:


list  M
dict  M 
tuple  IM
str   IM
set   M

In [133]:
sample1.upper()

'HELLO'

In [134]:
sample1.lower()

'hello'

In [135]:
"ABC123".isalpha()

False

In [136]:
"ABC123".isalnum()

True

In [137]:
"happy".islower()

True

In [138]:
"EGGS".isupper()

True

In [139]:
"123".isdigit()

True

In [140]:
"PiedPiper".capitalize()

'Piedpiper'

In [141]:
"PiedPiper".count('P')

2

In [143]:
"PiedPiper".count('e')

2

In [144]:
"PiedPiper".lower().count('p')

3

In [146]:
#string to list

list(sample1)

['H', 'e', 'l', 'l', 'o']

In [152]:
sample2="hi-how-are-you"

In [154]:
sample2.split("-")

['hi', 'how', 'are', 'you']

In [155]:
#check if a given word is in a string or not 

string=input("Enter a string : ")

word=input("Enter a word : ")

Enter a string : Hello how are you
Enter a word : You

In [160]:
pos=string.lower().split().index(word.lower())

In [161]:
pos

3

In [164]:
#Enter a email and tell how many characters are present in it

In [165]:
email=input("Enter an email address: ")

Enter an email address:        abc@zyz.com

In [166]:
len(email)

22

In [168]:
email=email.strip()

In [169]:
email

'abc@zyz.com'

In [171]:
len(email)

11

# File Operations

In [ ]:
#Only txt files

In [187]:

#Modes to deal with a file : r, w, a


#Create a file 
f=open("Welcome.txt","w")
f.write("Welcome to Data Science Course")
f.close()

In [189]:
#Read a file 
f=open("Welcome.txt","r")
content=f.read()
f.close()

In [188]:
f=open("Welcome.txt","a")
f.write(" by Edureka")
f.close()

In [192]:
f=open("Greeting.txt","a")
f.write(content+" from morning 7:00AM to 9:00 AM IST ")
f.close()

In [ ]:
#Complex mode

r+  #reading and writing 
w+  #writing and reading 
a+  #appending and reading 

#Binary mode

rb
wb
ab

r+b
w+b
a+b

.dat
.bin
.sh

In [ ]:
#Inputting from command line

In [193]:
#remove and rename a file 

import os

In [194]:
os.rename('Welcome.txt','Wel.txt')

In [195]:
os.remove('Wel.txt')